<h1 align="center">All V.C.S.A. Members</h1>

<% @users.each do |u| %>
<ul class="users-listing center">
	<div class="row center">
		<div class="well col-md-12 center">
			<li class="user-name"><h3><%= u.fname %> <%= u.lname %></h3></li>
			<% if u.admin? %>
			<h4>Admin</h4>
			<% end %>
			<% if logged_in? && (current_user == u || current_user.admin?) %>
			<div align="center" class="row">
				<div class="col-md-12">
					<%= link_to "Edit", edit_user_path(u), class: "btn btn-md btn-warning btn-top" %>
					<%= link_to "Delete", user_path(u), method: :delete, data: {confirm: "Delete member?"}, class: "btn btn-md btn-danger btn-top" %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</ul>
<% end %>