<h1 align="center">All V.C.S.A. Members</h1>

<% @users.each do |u| %>
<ul class="users-listing">
	<div class="row">
		<div class="well col-md-4 center">
			<li class="user-name"><h3><%= u.fname %> <%= u.lname %></h3></li>
			<div align="center" class="row">
				<div class="col-md-12">
					<%= link_to "Edit", edit_user_path(u), class: "btn btn-md btn-warning btn-top" %>
					<%= link_to "Delete", user_path(u), method: :delete, data: {confirm: "Delete component?"}, class: "btn btn-md btn-danger btn-top" %>
				</div>
			</div>
		</div>
	</div>
</ul>
<% end %>