<!--Displays the welcome page of the application-->
<div class="center jumbotron">
</div>


<div class="row center">
	<div class="col-md-12">
	<% if logged_in? %>
		<%= link_to "Budgets", positions_path, class: "btn btn-block btn-danger btn-lg"%>
		<% else %>
		<%= link_to "Log in", login_path, class: "btn btn-block btn-danger btn-lg" %>
		<% end %>
	</div>
</div>