<!--Displays the index page for the positions-->
<h3 align=" center"><strong>Admin Code*: <%= get_code %></strong> <strong class="hidden-print"><%= get_appropriate_link_code %></strong> <br/> </h3>

<h5>

<p><center>*This code is used in order to sign up. Note it is important to know that admins should keep this code a secret in order to avoid having unwanted users inside the database. Only share with a V.C.S.A. executive member. It is suggested to change the code every once in a while.
</center>
</p>
</h5>
